---
layout: default
---

<div class="home">

  <id="newpost-button" button onclick="password()">+ New Post</a>
  <script>
    function password() {
    var pass = prompt("Please enter posting password:", "");
      if (pass == "qwertyuiop") {
          window.location = "https://darbycat.github.io/newpost.html";
      }
    }
  </script>
  <h1 class="page-heading">Posts</h1>
  <br>
  <div class="boxes-container">
<div class="boxes">
    {% for post in site.posts %}
        <div>
        {% assign author = site.data.authors[post.author] %}

<!-- Output author details if some exist. -->

        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>

        <i>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> {% if author %}
    <span>
        <!-- Personal Info. -->
        • <a href="/profile/{{author.alias}}.html" target="_blank">{{ author.name }} ({{ author.alias }})</a>
    </span>
{% endif %}
        </i>
     
      </div>
    {% endfor %}
</div>
</div>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
